.header {
  background-color: rgb(159, 150, 255);
  color: rgba(11, 6, 72, 0.927);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 20px;
  border-radius: 0.5rem;
}

.header-title {
  margin: 0;
  font-size: 36px;
}

.header-button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.header-button:hover {
  background-color: #ddd;
}

.logout-button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #ddd;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons button:not(:last-child) {
  margin-right: 10px;
}
.survey-item {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.survey-item h3 {
  margin-top: 0;
}

.survey-item p {
  margin-bottom: 0;
  padding: 10px 0;
}

.survey-item button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.survey-item button:hover {
  background-color: #3e8e41;
}

.survey-item button:focus {
  outline: none;
}

.survey-item button:active {
  background-color: #367c39;
  transform: translateY(2px);
}
